#content{
    background-color: #83eaff;
    width: 200px;
    height: 100px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 14px;
    margin: 50px;
}

.other-text {
    background-color: antiquewhite;
}

p#esteparrafo .other-text {
    background-color: black !important;
}